/*
 * Define always width in % never in px.
 * to get a best fit.
 */
/*
 * Basic styles, good for a large display. Everything fits in
 * one row, no wrapping. All text based cells grow equally.
 */
 *{
 	margin: 0px;
 	padding: 0px;
 }
 .table-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  width: 100%;
/*  padding-left: 15px;
  padding-right: 15px;*/
}
.wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.column {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  vertical-align: top;
}

.attributes {
	width: 70%;
}
.statusBadge {
	width: 5%;
}
.date-view {
  width: 10%;
}
.index {
    width: 10%;
}

.view, .edit{
  text-align: center;
}
.time-recurring, .service-employee, .customer-date-time-recurring{
	width: 33%;
}

.customer, .time, .recurring, .service, .employee, .date,  .view, .edit  {
  width: 50%;
}
.view > i:hover {
  opacity: 0.5;
  cursor: pointer;
}
 .edit > i:hover{
  opacity: 0.5;
  cursor: pointer;
}
.index {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.customer {
  font-weight: bold;
  color: rgb(38, 48, 56);
}
.customer,
.date, .employee  {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.view, .edit {
  /*width: 5%;*/
  text-align: center;
}
/* growable wrappers */
.customer-date,
.customer-date-time-recurring,
.attributes {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
/*
 * Media queries:
 */

/*@media all and (max-width: 1236px) {
  .customer-date {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .customer-date div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .customer-date > div {
  }
  .time-recurring,
  .service-owner {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .time-recurring div,
  .service-owner div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
}*/
@media all and (max-width: 956px) {
  .time-recurring {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .customer-date-time-recurring {
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 220px;
  }
  .customer-date-time-recurring div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .customer-date-time-recurring > div {
    width: 100%;
  }
  .service-employee {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .employee {
  	text-overflow: ellipsis;
  }
  .service-employee div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .statusBadge {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-self: flex-end;
  }
  .statusBadge div {
    flex-grow: 0;
    -webkit-flex-grow: 0;

  }
  .date-view {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .date-view div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .view, .edit{
    text-align: center;
  }
}
@media all and (max-width: 956px) {
  .table-row {
/*    padding-left: 4px;
    padding-right: 4px;*/
  }
  .view, .edit{
    text-align: center;
  }
  .attributes {
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 220px;
  }
  .attributes div {
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .attributes > div {
    width: 100%;
  }
  .time-recurring,
  .service-owner {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .table-row {
  border-collapse: collapse;
  margin-top: 3px;
  padding-top: 2px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
}
/*
 * General good-look styles
 */
.table-row {
  border-collapse: collapse;
  padding-top: 2px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.table-row.header {
  background-color: #29b6f6;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}
.glyphicon {
  color: #DDDDDD;
}
.header .glyphicon {
  color: #333;
}
.glyphicon-eye-open.active {
  color: blue;
}
.glyphicon-comment.active {
  color: #3EBB0D;
}
.glyphicon:hover {
  color: #666;
  cursor: pointer;
  text-decoration: underline;
}
.recurring {
  
}
.date {
  font-style: italic;
}
.employee.high {
  color: red;
}
.employee.medium {
  color: blue;
}
.employee.low {
  color: green;
}


/* button */

.newfab {
  width: 70px;
  height: 70px;
  background-color: #29b6f6;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 70px;
  color: white;
  text-align: center;
  
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  
  -webkit-transition: all 0.1s ease-in-out;
}

.newfab:hover {
  box-shadow: 0 6px 14px 0 #666;
  -webkit-transform: scale(1.05);
  cursor: pointer;
}